In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from requests import get
from zipfile import ZipFile
import os
import glob
%matplotlib inline
path = "C:\\Users\\Tony R"

In [60]:
df = pd.read_csv('2017-fordgobike-tripdata.csv')
df.shape

(519700, 13)

In [61]:

links = ["https://s3.amazonaws.com/baywheels-data/201801-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201802-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201803-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201804-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201805-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201806-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201807-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201808-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201809-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201810-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201811-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201812-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201901-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201902-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201903-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201904-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201905-baywheels-tripdata.csv.zip", "https://s3.amazonaws.com/baywheels-data/201906-baywheels-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201907-baywheels-tripdata.csv.zip", "https://s3.amazonaws.com/baywheels-data/201908-baywheels-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201909-baywheels-tripdata.csv.zip", "https://s3.amazonaws.com/baywheels-data/201910-baywheels-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201911-baywheels-tripdata.csv.zip", "https://s3.amazonaws.com/baywheels-data/201912-baywheels-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/202001-baywheels-tripdata.csv.zip", "https://s3.amazonaws.com/baywheels-data/202002-baywheels-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/202003-baywheels-tripdata.csv.zip", "https://s3.amazonaws.com/baywheels-data/202004-baywheels-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/202005-baywheels-tripdata.csv.zip", "https://s3.amazonaws.com/baywheels-data/202006-baywheels-tripdata.csv.zip"]

for link in links:
    zipfile = get(link)
    with ZipFile(BytesIO(zipfile.content)) as file:
        file.extractall()

In [78]:
all_files = glob.glob(os.path.join(path, "20*.csv"))
all_csv = (pd.read_csv(f, sep=',') for f in all_files)
df_merged  = pd.concat(all_csv, ignore_index=True)
df_merged.to_csv( "newdf.csv")

<ipython-input-78-376eca1f74cc>:3: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  df_merged  = pd.concat(all_csv, ignore_index=True)
<ipython-input-78-376eca1f74cc>:3: DtypeWarning: Columns (13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  df_merged  = pd.concat(all_csv, ignore_index=True)
<ipython-input-78-376eca1f74cc>:3: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  df_merged  = pd.concat(all_csv, ignore_index=True)

In [179]:
newdf.shape

(677868, 22)

In [180]:
newdf.sample(5).T

,378496,150327,31427,139519,55719
duration_sec,583,1128,474,297,548
start_time,2017-09-05 16:32:17.9800,2017-11-09 16:35:03.1640,2017-12-16 13:59:23.9080,2017-11-13 08:56:49.7310,2017-12-09 17:24:46.2290
end_time,2017-09-05 16:42:01.7450,2017-11-09 16:53:52.0870,2017-12-16 14:07:18.5350,2017-11-13 09:01:47.2960,2017-12-09 17:33:54.3300
start_station_id,102,16,48,17,281
start_station_name,Irwin St at 8th St,Steuart St at Market St,2nd St at S Park St,Embarcadero BART Station (Beale St at Market St),9th St at San Fernando
start_station_latitude,37.7669,37.7941,37.7824,37.7923,37.3384
start_station_longitude,-122.4,-122.394,-122.393,-122.397,-121.881
end_station_id,79,74,19,8,312
end_station_name,7th St at Brannan St,Laguna St at Hayes St,Post St at Kearny St,The Embarcadero at Vallejo St,San Jose Diridon Station
end_station_latitude,37.7735,37.7764,37.789,37.8,37.3297
end_station_longitude,-122.404,-122.426,-122.403,-122.399,-121.902
bike_id,2741,1180,1509,3158,1871
user_type,Subscriber,Subscriber,Subscriber,Subscriber,Subscriber
ride_id,NaN,NaN,NaN,NaN,NaN
rideable_type,NaN,NaN,NaN,NaN,NaN
started_at,NaN,NaN,NaN,NaN,NaN
ended_at,NaN,NaN,NaN,NaN,NaN
start_lat,NaN,NaN,NaN,NaN,NaN
start_lng,NaN,NaN,NaN,NaN,NaN
end_lat,NaN,NaN,NaN,NaN,NaN
end_lng,NaN,NaN,NaN,NaN,NaN
member_casual,NaN,NaN,NaN,NaN,NaN

In [243]:
df_clean = newdf.copy()

In [244]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 677868 entries, 0 to 158167
Data columns (total 22 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   duration_sec             519700 non-null  float64
 1   start_time               519700 non-null  object
 2   end_time                 519700 non-null  object
 3   start_station_id         618920 non-null  float64
 4   start_station_name       618920 non-null  object
 5   start_station_latitude   519700 non-null  float64
 6   start_station_longitude  519700 non-null  float64
 7   end_station_id           616851 non-null  float64
 8   end_station_name         616851 non-null  object
 9   end_station_latitude     519700 non-null  float64
 10  end_station_longitude    519700 non-null  float64
 11  bike_id                  519700 non-null  float64
 12  user_type                519700 non-null  object
 13  ride_id                  158168 non-null  object
 14  rideable_type            158168 non-null  object
 15  started_at               158168 non-null  object
 16  ended_at                 158168 non-null  object
 17  start_lat                158168 non-null  float64
 18  start_lng                158168 non-null  float64
 19  end_lat                  157892 non-null  float64
 20  end_lng                  157892 non-null  float64
 21  member_casual            158168 non-null  object
dtypes: float64(12), object(10)
memory usage: 118.9+ MB

In [245]:
df_clean ['start_time'] = df_clean['start_time'].fillna(df_clean['started_at'])
df_clean ['end_time'] = df_clean['end_time'].fillna(df_clean['ended_at'])
df_clean ['start_station_latitude'] = df_clean['start_station_latitude'].fillna(df_clean['start_lat'])
df_clean ['start_station_longitude'] = df_clean['start_station_longitude'].fillna(df_clean['start_lng'])
df_clean ['end_station_latitude'] = df_clean['end_station_latitude'].fillna(df_clean['end_lat'])
df_clean ['end_station_longitude'] = df_clean['end_station_longitude'].fillna(df_clean['end_lng'])

In [246]:
df_clean = df_clean.drop(['started_at', 'ended_at', 'start_lat','end_lat','start_lng','end_lat','end_lng'], axis=1)

df_clean = df_clean.drop(['ride_id', 'rideable_type', 'member_casual'], axis=1)

In [247]:
df_clean.sample(5).T

,507385,84612,374871,456573,230538
duration_sec,278,168,1057,765,366
start_time,2017-07-12 06:32:41.1020,2017-12-01 13:13:39.7740,2017-09-06 15:27:15.3760,2017-08-08 08:07:37.9320,2017-10-18 13:32:38.4130
end_time,2017-07-12 06:37:19.5680,2017-12-01 13:16:28.6220,2017-09-06 15:44:53.3510,2017-08-08 08:20:22.9570,2017-10-18 13:38:45.2890
start_station_id,15,9,126,22,44
start_station_name,San Francisco Ferry Building (Harry Bridges Pl...,Broadway at Battery St,Esprit Park,Howard St at Beale St,Civic Center/UN Plaza BART Station (Market St ...
start_station_latitude,37.7954,37.7986,37.7616,37.7898,37.7811
start_station_longitude,-122.394,-122.401,-122.391,-122.395,-122.412
end_station_id,20,16,15,44,77
end_station_name,Mechanics Monument Plaza (Market St at Bush St),Steuart St at Market St,San Francisco Ferry Building (Harry Bridges Pl...,Civic Center/UN Plaza BART Station (Market St ...,11th St at Natoma St
end_station_latitude,37.7913,37.7941,37.7954,37.7811,37.7735
end_station_longitude,-122.399,-122.394,-122.394,-122.412,-122.416
bike_id,357,1803,2816,924,440
user_type,Subscriber,Subscriber,Customer,Subscriber,Subscriber

In [248]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 677868 entries, 0 to 158167
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   duration_sec             519700 non-null  float64
 1   start_time               677868 non-null  object
 2   end_time                 677868 non-null  object
 3   start_station_id         618920 non-null  float64
 4   start_station_name       618920 non-null  object
 5   start_station_latitude   677868 non-null  float64
 6   start_station_longitude  677868 non-null  float64
 7   end_station_id           616851 non-null  float64
 8   end_station_name         616851 non-null  object
 9   end_station_latitude     677592 non-null  float64
 10  end_station_longitude    677592 non-null  float64
 11  bike_id                  519700 non-null  float64
 12  user_type                519700 non-null  object
dtypes: float64(8), object(5)
memory usage: 72.4+ MB

In [249]:
df_clean['start_time'] = df_clean['start_time'].astype('datetime64[ns]')
df_clean['end_time'] = df_clean['end_time'].astype('datetime64[ns]')
df_clean['start_station_id'] = df_clean['start_station_id'].astype(str)
df_clean['end_station_id'] = df_clean['end_station_id'].astype(str)
df_clean['bike_id'] = df_clean['bike_id'].astype(str)
df_clean['user_type'] = df_clean['user_type'].astype('category')

In [250]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 677868 entries, 0 to 158167
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   duration_sec             519700 non-null  float64
 1   start_time               677868 non-null  datetime64[ns]
 2   end_time                 677868 non-null  datetime64[ns]
 3   start_station_id         677868 non-null  object
 4   start_station_name       618920 non-null  object
 5   start_station_latitude   677868 non-null  float64
 6   start_station_longitude  677868 non-null  float64
 7   end_station_id           677868 non-null  object
 8   end_station_name         616851 non-null  object
 9   end_station_latitude     677592 non-null  float64
 10  end_station_longitude    677592 non-null  float64
 11  bike_id                  677868 non-null  object
 12  user_type                519700 non-null  category
dtypes: category(1), datetime64[ns](2), float64(5), object(5)
memory usage: 67.9+ MB

In [294]:
df_clean['duration_sec'] = df_clean['duration_sec'].fillna((df_clean['end_time']-df_clean['start_time'])/np.timedelta64(1,'s'))

In [297]:
df_clean.sample(5).T

,261033,232661,155183,416817,107094
duration_sec,270,1137,1.651e+12,1106,1005
start_time,2017-10-09 16:56:29.889000,2017-10-17 20:21:15.949000,2020-06-15 20:18:55,2017-08-23 08:12:33.858000,2017-11-23 22:50:44.796000
end_time,2017-10-09 17:01:00.270000,2017-10-17 20:40:13.944000,2020-06-15 20:46:26,2017-08-23 08:31:00.756000,2017-11-23 23:07:30.548000
start_station_id,37.0,196.0,224.0,140.0,61.0
start_station_name,2nd St at Folsom St,Grand Ave at Perkins St,21st St at 5th Ave,Cesar Chavez St at Dolores St,Howard St at 8th St
start_station_latitude,37.785,37.8089,37.8005,37.7479,37.7765
start_station_longitude,-122.396,-122.256,-122.247,-122.425,-122.411
end_station_id,30.0,189.0,224.0,42.0,61.0
end_station_name,San Francisco Caltrain (Townsend St at 4th St),Genoa St at 55th St,21st St at 5th Ave,San Francisco City Hall (Polk St at Grove St),Howard St at 8th St
end_station_latitude,37.7766,37.8396,37.8005,37.7786,37.7765
end_station_longitude,-122.395,-122.272,-122.247,-122.418,-122.411
bike_id,2123.0,325.0,nan,2717.0,2121.0
user_type,Subscriber,Subscriber,NaN,Subscriber,Customer